@font-face {
  font-family: 'Excluded';
  src: url('../fonts/excluded-font/Excluded-z8XrX.ttf'); /* IE9 Compat Modes */
  font-style:normal;
  font-weight: 100;
}

a {
  text-decoration: none;
  color: white;
}


body {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  margin: 0px;
  background: black;
  color: white;
  font-family: sans-serif;
}

header {
  font-size: 140%;
  padding-left: 20px;
  /* box-shadow: 0px 0px 1px 1px rgba(251,205,0, 0.8); */
  order: -1;
  border-bottom: 1px solid rgb(251,205,0);
  /* box-shadow: 0px 0px 5px 2px rgba(35,184,247,0.9); */
  /* border-bottom: 1px solid rgba(35,184,247,0.9); */
  background: #030B35;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
}
header a {
  padding: 20px;
  background: hsl(230, 89%, 20%);
  margin-right: 20px;
  border-radius: 10px;
}

/* .ml-form-embed {
  position: fixed;
} */

#emailListSignUp {
  display: none;
  position:fixed;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.5);
  margin-top: 0px;
}
#emailListSignUp a {
  width:100%;
}
.parentDisplays {
  width: 100vw;
  /* height: 100vh; */
  display: flex;
  flex-direction: column;
  align-items: center;
}

#homeDisplay {

  /* background-position: center; */
}

#welcomeDiv h1 {
  background: #ABD1FF;
  background-image: linear-gradient(0deg, #ABD1FF, #F4F9F8);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

#welcomeDiv {
  display: flex;
  flex-direction: column;
  justify-content:flex-end;
  /* align-items: center; */
  background-image: url("../images/fullActionImage.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: white;
  /* font-style: italic; */
  min-width: 100%;
  height: 20vh;
}
#welcomeDivMessageBackground {
  width: 100%;
  /* min-height: 60px; */
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
}
#welcomeDiv h1 {
  display: block;
  font-family: Excluded;
  /* height: 30px; */
  /* margin-top: 15px; */
  /* height: 100%; */
  /* display: flex; */
  text-align: center;
  /* justify-content: center; */
  /* align-items: center; */
  margin-left: 15px;
  /* margin-bottom: 0px; */
  font-size: 70px;
  /* background: rgba(0, 0, 0, 0.2); */
  /* text-shadow: 0px 2px 3px rgb(251,205,0); */
}
#seriesInfoDiv {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 170%;
  border-bottom: 1px solid rgb(251,205,0);
  border-top: 1px solid rgb(251,205,0);
  /* border-bottom: 1px solid rgba(35,184,247,0.9);
  border-top: 1px solid rgba(35,184,247,0.9); */
  /* padding-top: 15px; */
  padding-bottom: 15px;
  background: #026CC6;
}
#seriesInfoTextDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px 30px 15px 30px;
}
.seriesBookContainers {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  /* height: 400px; */
}
.bookInfoCells {
  /* padding: 20px; */
  height: 15em;
  width: 100vw;
  /* background: red; */
  display: flex;
  justify-content: center;
  align-items:center;
  background-repeat: no-repeat;
  background-size: cover;
  /* background-position: center; */
}
.bookInfoCells h3 {
  font-family: Excluded;
  font-size:3em;
  background: #ABD1FF;
  background-image: linear-gradient(0deg, #ABD1FF, #F4F9F8);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  filter:drop-shadow(0px 2px 2px #222);
}
.bookInfoCells img {
  max-height: 300px;
  /* box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.9); */
  box-shadow: 0px 0px 5px 2px rgba(35,184,247,0.9);
border-radius: 2px;

}
.bookInfoCells img:hover {
  max-height: 350px;
}
#bookInfoSeriesCell1 {
  background-image: url("../images/bookCoverImage.jpeg");
  background-position: top -45em center;
  background-size: 70em;
}
#bookInfoSeriesCell2 {
  background-image: url("../images/book2coverImage.jpeg");
  background-position: top -65em center;
  background-size: 70em;
}
#bookInfoSeriesCell3 {
  background-image: url("../images/book3CoverImage.jpeg");
  background-position: top -72em center;
  background-size: 70em;
}
#bookSeriesInfoCell {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 5em;
  font-size: 3em;
  background-image: url("../images/bookCoverImage.jpeg"), url("../images/book2coverImage.jpeg"),url("../images/book3CoverImage.jpeg");
  background-repeat: no-repeat, no-repeat, no-repeat;
  background-position: left, center, right;
  background-size: 8em, 8em, 10em;
}
#fullSeriesAnc {
  font-family: Excluded;
  background-image: linear-gradient(0deg, #ABD1FF, #F4F9F8);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  filter:drop-shadow(0px 2px 2px #222);
}
}
#preorderClassDiv {
  display:flex;
  flex-direction: column;
  align-items: center;
  /* padding: 30px; */
}

#authorInfoDiv {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  background: #030B35;
  padding: 40px;
}
#authorInfoSubDiv {
  display: flex;
  flex-direction: row;
  /* align-items: center; */
  justify-content: space-around;
  /* padding: 30px; */
  /* width: 80%; */
}
#authorInfoSubDiv img {
  max-height: 600px;
  box-shadow: 0px 0px 6px 4px rgba(35,184,247,0.9);
  border-radius: 3px;

}
#authorInfoTextContainer {
  display: flex;
  flex-direction: column;
  /* padding: 20px; */
  font-size: 140%;
  width: 50%;
}
footer {
  background: hsl(230, 89%, 11%);
  height: 50px;
  border-top: 1px solid rgb(251,205,0);
  padding-left: 20px;
  /* padding-top: 10px; */
  font-size: 130%;
  display: flex;
  align-items: center;
  /* border-top: 1px solid rgba(35,184,247,0.9); */
}

/* ----------- iPhone 5, 5S, 5C and 5SE ----------- */

/* Portrait and Landscape */
@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2) {

}

/* Portrait */
@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
}

/* Landscape */
@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {
    #seriesInfoTextDiv {
      padding: 30px 60px 30px 60px;
      /* background: black; */
    }
    #seriesInfoTextDiv p {
      text-align: center;
    }
    .bookInfoCells img {
      /* max-height: 350px; */
    }
    #authorInfoDiv {
      padding: 0px;
      font-size: 150%;
    }
    #authorInfoSubDiv {
      flex-direction: column;
      width: 100vw;
      padding: 0px;
    }
    #authorInfoSubDiv img {
      max-height: 1300px;
      box-shadow: none;
      /* width: auto; */
    }
    #authorInfoTextContainer {
      width: 90%;
      padding: 40px;
    }
    #emailListSignUp {
      font-size: 250%;
    }
}

/* iPhone 6, 6s, 7 and 8 */
/* Portrait */
@media only screen
  and (min-device-width: 375px)
  and (max-device-width: 766px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
    #seriesInfoTextDiv {
      padding: 30px 60px 30px 60px;
      /* background: black; */
    }
    #seriesInfoTextDiv p {
      text-align: center;
    }
    /* .bookInfoCells img {
      max-height: 350px;
    } */
    #authorInfoDiv {
      padding: 0px;
      font-size: 150%;
    }
    #authorInfoSubDiv {
      flex-direction: column;
      width: 100vw;
      padding: 0px;
    }
    #authorInfoSubDiv img {
      max-height: 1300px;
      box-shadow: none;
      /* width: auto; */
    }
    #authorInfoTextContainer {
      width: 90%;
      padding: 40px;
    }
    #cancelEmailListSignUpBtn {
      font-size: 250%;
    }
}

/* ----------- iPad 1, 2, Mini and Air ----------- */

/* Portrait and Landscape */
@media only screen
  and (min-device-width: 768px)
  and (max-device-width: 1024px)
  and (-webkit-min-device-pixel-ratio: 1) {

}

/* Portrait */
@media only screen
  and (min-device-width: 768px)
  and (max-device-width: 1024px)
  and (orientation: portrait)
  and (-webkit-min-device-pixel-ratio: 1) {
    #seriesInfoTextDiv {
      padding: 30px 60px 30px 60px;
      /* background: black; */
    }
    #seriesInfoTextDiv p {
      text-align: center;
    }
    /* .bookInfoCells img {
      max-height: 350px;
    } */
    #authorInfoDiv {
      padding: 0px;
      font-size: 150%;
    }
    #authorInfoSubDiv {
      flex-direction: column;
      width: 100vw;
      padding: 0px;
    }
    #authorInfoSubDiv img {
      max-height: 1300px;
      box-shadow: none;
      /* width: auto; */
    }
    #authorInfoTextContainer {
      width: 90%;
      padding: 40px;
    }
    #emailListSignUp {
      font-size: 250%;
    }
}

/* Landscape */
@media only screen
  and (min-device-width: 768px)
  and (max-device-width: 1024px)
  and (orientation: landscape)
  and (-webkit-min-device-pixel-ratio: 1) {

}

/* ----------- iPad 3, 4 and Pro 9.7" ----------- */

/* Portrait and Landscape */
@media only screen
  and (min-device-width: 768px)
  and (max-device-width: 1024px)
  and (-webkit-min-device-pixel-ratio: 2) {

}

/* Portrait */
@media only screen
  and (min-device-width: 768px)
  and (max-device-width: 1024px)
  and (orientation: portrait)
  and (-webkit-min-device-pixel-ratio: 2) {

}

/* Landscape */
@media only screen
  and (min-device-width: 768px)
  and (max-device-width: 1024px)
  and (orientation: landscape)
  and (-webkit-min-device-pixel-ratio: 2) {

}

/* ----------- iPad Pro 10.5" ----------- */

/* Portrait and Landscape */
@media only screen
  and (min-device-width: 834px)
  and (max-device-width: 1112px)
  and (-webkit-min-device-pixel-ratio: 2) {

}

/* Portrait */
/* Declare the same value for min- and max-width to avoid colliding with desktops */
/* Source: https://medium.com/connect-the-dots/css-media-queries-for-ipad-pro-8cad10e17106*/
@media only screen
  and (min-device-width: 834px)
  and (max-device-width: 834px)
  and (orientation: portrait)
  and (-webkit-min-device-pixel-ratio: 2) {

}

/* Landscape */
/* Declare the same value for min- and max-width to avoid colliding with desktops */
/* Source: https://medium.com/connect-the-dots/css-media-queries-for-ipad-pro-8cad10e17106*/
@media only screen
  and (min-device-width: 1112px)
  and (max-device-width: 1112px)
  and (orientation: landscape)
  and (-webkit-min-device-pixel-ratio: 2) {

}

/* ----------- iPad Pro 12.9" ----------- */

/* Portrait and Landscape */
@media only screen
  and (min-device-width: 1024px)
  and (max-device-width: 1366px)
  and (-webkit-min-device-pixel-ratio: 2) {

}

/* Portrait */
/* Declare the same value for min- and max-width to avoid colliding with desktops */
/* Source: https://medium.com/connect-the-dots/css-media-queries-for-ipad-pro-8cad10e17106*/
@media only screen
  and (min-device-width: 1024px)
  and (max-device-width: 1024px)
  and (orientation: portrait)
  and (-webkit-min-device-pixel-ratio: 2) {

}

/* Landscape */
/* Declare the same value for min- and max-width to avoid colliding with desktops */
/* Source: https://medium.com/connect-the-dots/css-media-queries-for-ipad-pro-8cad10e17106*/
@media only screen
  and (min-device-width: 1366px)
  and (max-device-width: 1366px)
  and (orientation: landscape)
  and (-webkit-min-device-pixel-ratio: 2) {

}

/* ----------- Galaxy S3 ----------- */

/* Portrait and Landscape */
@media screen
  and (device-width: 360px)
  and (device-height: 640px)
  and (-webkit-device-pixel-ratio: 2) {

}

/* Portrait */
@media screen
  and (device-width: 320px)
  and (device-height: 640px)
  and (-webkit-device-pixel-ratio: 2)
  and (orientation: portrait) {
    #seriesInfoTextDiv {
      padding: 45px 90px 45px 90px;
      /* background: black; */
    }
    #seriesInfoTextDiv p {
      text-align: center;
    }
    /* .bookInfoCells img {
      max-height: 350px;
    } */
    #authorInfoDiv {
      padding: 0px;
      font-size: 150%;
    }
    #authorInfoSubDiv {
      flex-direction: column;
      width: 100vw;
      padding: 0px;
    }
    #authorInfoSubDiv img {
      max-height: 1300px;
      box-shadow: none;
      /* width: auto; */
    }
    #authorInfoTextContainer {
      width: 90%;
      padding: 40px;
    }
    #emailListSignUp {
      font-size: 250%;
    }
}

/* Landscape */
@media screen
  and (device-width: 320px)
  and (device-height: 640px)
  and (-webkit-device-pixel-ratio: 2)
  and (orientation: landscape) {

}

/* ----------- Galaxy S4, S5 and Note 3 ----------- */

/* Portrait and Landscape */
@media screen
  and (device-width: 320px)
  and (device-height: 640px)
  and (-webkit-device-pixel-ratio: 3) {

}

/* Portrait */
@media screen
  and (device-width: 320px)
  and (device-height: 640px)
  and (-webkit-device-pixel-ratio: 3)
  and (orientation: portrait) {
    #seriesInfoTextDiv {
      padding: 45px 90px 45px 90px;
      /* background: black; */
    }
    #seriesInfoTextDiv p {
      text-align: center;
    }
    .bookInfoCells img {
      max-height: 350px;
    }
    #authorInfoDiv {
      padding: 0px;
      font-size: 150%;
    }
    #authorInfoSubDiv {
      flex-direction: column;
      width: 100vw;
      padding: 0px;
    }
    #authorInfoSubDiv img {
      max-height: 1300px;
      box-shadow: none;
      /* width: auto; */
    }
    #authorInfoTextContainer {
      width: 90%;
      padding: 40px;
    }
    #emailListSignUp {
      font-size: 375%;
    }
}

/* Landscape */
@media screen
  and (device-width: 320px)
  and (device-height: 640px)
  and (-webkit-device-pixel-ratio: 3)
  and (orientation: landscape) {

}

/* ----------- Galaxy S6 ----------- */

/* Portrait and Landscape */
@media screen
  and (device-width: 360px)
  and (device-height: 640px)
  and (-webkit-device-pixel-ratio: 4) {

}

/* Portrait */
@media screen
  and (device-width: 360px)
  and (device-height: 640px)
  and (-webkit-device-pixel-ratio: 4)
  and (orientation: portrait) {
    #seriesInfoTextDiv {
      padding: 30px 60px 30px 60px;
      /* background: black; */
    }
    #seriesInfoTextDiv p {
      text-align: center;
    }
    .bookInfoCells img {
      max-height: 350px;
    }
    #authorInfoDiv {
      padding: 0px;
      font-size: 150%;
    }
    #authorInfoSubDiv {
      flex-direction: column;
      width: 100vw;
      padding: 0px;
    }
    #authorInfoSubDiv img {
      max-height: 1300px;
      box-shadow: none;
      /* width: auto; */
    }
    #authorInfoTextContainer {
      width: 90%;
      padding: 40px;
    }
    #emailListSignUp {
      font-size: 500%;
    }
}

/* Landscape */
@media screen
  and (device-width: 360px)
  and (device-height: 640px)
  and (-webkit-device-pixel-ratio: 4)
  and (orientation: landscape) {

}
