@font-face {
  font-family: 'Excluded';
  src: url('../fonts/excluded-font/Excluded-z8XrX.ttf'); /* IE9 Compat Modes */
  font-style:normal;
  font-weight: 100;
}

a {
  text-decoration: none;
  color: white;
}

body {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  margin: 0px;
  background: black;
  color: white;
  font-family: sans-serif;
}

header {
  font-size: 140%;
  padding-left: 20px;
  /* box-shadow: 0px 0px 1px 1px rgba(251,205,0, 0.8); */
  order: -1;
  border-bottom: 1px solid rgb(251,205,0);
  background: #030B35;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header a {
  padding: 20px;
  background: hsl(230, 89%, 20%);
  margin-right: 20px;
  border-radius: 10px;
}

/* .ml-form-embed {
  position: fixed;
} */

#emailListSignUp {
  display: none;
  position:fixed;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.5);
  margin-top: 0px;
}
#emailListSignUp a {
  width:100%;
}
.parentDisplays {
  width: 100vw;
  /* height: 100vh; */
  display: flex;
  flex-direction: column;
  align-items: center;
}

#homeDisplay {

  /* background-position: center; */
}

#welcomeDiv h1 {
  background: #ABD1FF;
  background-image: linear-gradient(0deg, #ABD1FF, #F4F9F8);
  background-size: 80%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

#welcomeDiv {
  display: flex;
  flex-direction: column;
  justify-content:flex-end;
  /* align-items: center; */
  background-image: url("../images/fullActionImage.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: white;
  /* font-style: italic; */
  min-width: 100%;
  height: 20vh;
}
#welcomeDiv h1 {
  display: flex;
  font-family: Excluded;
  /* height: 30px; */
  /* margin-top: 15px; */
  /* height: 100%; */
  /* display: flex; */
  text-align: center;
  justify-content: center;
  align-items: center;
  margin-left: 15px;
  margin-bottom: 0px;
  font-size: 70px;
  /* background: rgba(0, 0, 0, 0.2); */
  /* text-shadow: 0px 2px 3px rgb(251,205,0); */
}
#seriesInfoDiv {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 170%;
  border-bottom: 1px solid rgb(251,205,0);
  border-top: 1px solid rgb(251,205,0);
  padding-top: 15px;
  padding-bottom: 15px;
  background: #026CC6;
}
.seriesBookContainers {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
}
.bookInfoCells {
  padding: 20px;
}
.bookInfoCells img {
  max-height: 300px;
  /* box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.9); */
  box-shadow: 0px 0px 5px 2px rgba(35,184,247,0.9);
border-radius: 2px;

}

#authorInfoDiv {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  background: #030B35;
  padding: 40px;
}
#authorInfoSubDiv {
  display: flex;
  flex-direction: row;
  /* align-items: center; */
  justify-content: space-around;
  /* padding: 30px; */
  /* width: 80%; */
}
#authorInfoSubDiv img {
  max-height: 600px;
  box-shadow: 0px 0px 6px 4px rgba(35,184,247,0.9);
  border-radius: 3px;

}
#authorInfoTextContainer {
  display: flex;
  flex-direction: column;
  /* padding: 20px; */
  font-size: 140%;
  width: 50%;
}
footer {
  background: hsl(230, 89%, 11%);
  height: 60px;
  border-top: 1px solid rgb(251,205,0);
}
