<div class="parentDisplays" id="homeDisplay">

  <div class="" id="welcomeDiv">

    <div class="" id="welcomeDivMessageBackground">
      <h1>The Annabelle Perkins Saga</h1>
    </div>
    <!-- <h1 style="margin-top:-20px;">Perkins Saga</h1> -->

  </div>

  <div class=""id="seriesInfoDiv">

    <div id="seriesInfoTextDiv">
      <p>The year is 2048. Technology has evolved espionage to the point where the spy game has completely changed.</p>
      <p>If you ever wanted a story with John Wick level action and James Bond caliber gadgets then look no further.</p>

    </div>

    <div class="seriesBookContainers">

      <div class="bookInfoCells">

        <a href="https://www.amazon.com/Game-Vigilance-Tactical-Espionage-Annabelle/dp/B08S311K2X/ref=sr_1_2?dchild=1&keywords=Game+of+vigilance&qid=1626985735&sr=8-2" ><img src="../images/bookCoverImage.jpeg" alt=""></a>
        <!-- <h3>Game of Vigilance</h3>
        <p>A Annabelle Perkins Thriller</p>
        <p><b>Book 1</b></p> -->

      </div>

      <div class="bookInfoCells">

        <a href="https://www.amazon.com/dp/B099CJQSXT" ><img src="../images/book2coverImage.jpeg" alt=""></a>
        <!-- <h3>Game of Vigilance</h3>
        <p>A Annabelle Perkins Thriller</p>
        <p><b>Book 1</b></p> -->

      </div>

    </div>
    <a href="https://www.amazon.com/gp/product/B08S2PCGM3?ref_=dbs_dp_rwt_sb_tkin&binding=kindle_edition">View full saga on Amazon</a>
  </div>

  <div class="" id="authorInfoDiv">

    <h2>About Karl</h2>

    <div class="" id="authorInfoSubDiv">

      <img src="../images/karlWeberHeadshot.jpeg" alt="">

      <div class="" id="authorInfoTextContainer">

        <p>Karl W. Weber grew up on his family farm in the midwestern state of Indiana. There he was taught the values of hard work. On weekdays he would work on the family farm and on weekends go racing. He has competed in numerous different national karting series until eventually making his way into the ARCA Racing Series in 2014. After finishing top ten in points, Weber went on to race at Daytona International Speedway the following season before stepping away from stockcar racing to pursue college.</p>

        <p>After attending Purdue University for multiple years, Weber graduated with his bachelor’s degree in Agribusiness in 2019. After losing his father in a farm accident, operations on the family farm were ended, which left Weber for the first time unsure of what to do for a career. This is where he found his passion to write.</p>

        <p>Having been a fan of movies and video games containing elements of sci-fi and espionage, along with being frustrated with the declining state of modern entertainment, Weber set out to create his own stories for escapism. SPY-FI being the term he likes to jokingly use to describe his works. His books are now what take up the majority of his time as he just wishes to build characters and universes that provide much needed escapism in today’s world.</p>

      </div>

    </div>


  </div>

</div>
